@using Bloggy.Models

@model Post

@{
    ViewBag.Title = "Create Post";
}

<div id="login" class="row">
    <h2>@ViewBag.Title</h2>
    <div class="col-md-12">
        <section>
            <form asp-controller="Post" asp-action="Create" asp-anti-forgery="true" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Slug" class="control-label"></label>
                    <input asp-for="Slug" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Excerpt" class="control-label"></label>
                    <input asp-for="Excerpt" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Tags" class="control-label"></label>
                    <input asp-for="Tags" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" class="form-control"></textarea>
                </div>
                <div class="checkbox">
                    <label>
                        <input asp-for="IsPublished" type="checkbox"> <strong>Is Published</strong>
                    </label>
                </div>
                <button type="submit" class="btn">Save</button>
            </form>
        </section>
    </div>
</div>