<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>bloggy - @ViewBag.Title</title>
    <link rel="stylesheet" href="~/styles/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/styles/bloggy.css" title="light">
</head>
<body>
    <div class="container">
        <header>
            <img src="Images/logo.png" class="img-circle" />
            <h1>bloggy</h1>
            <nav>
                <a href="#" class="active">Home</a>
                <a href="#">Archive</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </nav>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            <p>Copyright &copy; 2016 <a href="#">bloggy</a></p>
        </footer>
    </div>
</body>
</html>