/* Thin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
}

/* Light */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
}

/* Normal */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Roboto-Italic.ttf') format('truetype');
}

/* Medium */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
}

/* Bold */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
}

/* Black */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
}

body {
    background-color: #1f1f1f;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 670px;
}


header {
    margin: 30px auto;
    text-align: center;
}

    header h1 {
        font-size: 60px;
        font-weight: lighter;
        color:#fff;
    }

    header nav {
        margin: auto;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }

        header nav a {
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 18px;
            margin-right: 15px;
        }

            header nav a.active, a:hover {
                color: #1ba0ff;
                text-decoration: none;
            }

    header a {
        color: #1BA0FF;
        text-decoration: none;
    }

        header a:hover {
            color: #1ba0ff;
            text-decoration: none;
        }

article {
    margin-bottom: 30px;
}

    article a {
        color: #1ba0ff;
        font-size: 28px;
        font-weight: normal;
        outline: none;
    }

        article a:hover {
            color: #1BA0FF;
            text-decoration: underline;
        }

    article time {
        color: #999;
    }

    article span#tags > a {
        color: #1BA0FF;
        font-size: 16px;
    }

        article span#tags > a:hover {
            text-decoration: underline;
        }

    article p, time {
        color: #fff;
        font-size: 16px;
        line-height: 24px;
    }

#comments {
    margin-left: -15px;
}

#comments h3 {
    color: #999;
}

.comment {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

    .comment:nth-last-child(1) {
        border-bottom: none;
    }

    .comment img {
        float: left;
        width: 100px;
        padding-right: 15px;
    }

    .comment div {
        overflow: auto;
    }

    .comment a {
        color: #1BA0FF;
        font-size: 20px;
        font-weight: normal;
        outline: none;
    }

        .comment a:hover {
            color: #1BA0FF;
            text-decoration: underline;
        }

    .comment time {
        color: #999;
        display: block;
    }

    .comment p, time {
        color: #fff;
        font-size: 16px;
        line-height: 24px;
    }

#commentForm, .alert-success {
    margin-left: -15px;
}

    #commentForm ul {
        margin-left: -25px;
    }

    #commentForm button[type=submit] {
        background-color: #1BA0FF;
        color: #fff;
    }

#archive span.label, #tags span.label {
    background-color: #1BA0FF;
}

    #archive span.label:hover, #tags span.label:hover {
        background-color: #999;
    }

#archive h3, #tags h3 {
    color: #999;
}

#archive li > a, #tags li > a {
    font-size: 16px;
    color: #1BA0FF;
    text-decoration: underline;
}

    #archive li > a:hover, #tags li > a:hover {
        color: #fff;
    }

#contact h2, #about h2, #login h2 {
    color: #999;
}

#contact p, #about p {
    color: #fff;
}

#contact a {
    color: #1BA0FF;
    text-decoration: none;
    font-size: 14px;
}

    #contact a:hover {
        color: #111;
    }

#login label {
    color: #fff;
}

#login button[type=submit] {
    background-color: #1BA0FF;
    color: #fff;
}

#new-post {
    margin-left: -15px;
}

.actions {
    color : #fff;
}

    .actions > a {
        font-size: 14px;
        color: #1BA0FF;
    }

    .actions > a:hover {
        font-size: 14px;
        color: #1BA0FF;
        text-decoration: underline;
    }

footer {
    text-align: center;
    color: #999;
    margin-bottom: 30px;
}

    footer a {
        color: #1BA0FF;
        text-decoration: none;
        font-size: 14px;
    }

        footer a:hover {
            color: #111;
        }
