@using Bloggy.Models

@model IEnumerable<Post>

@{
    ViewBag.Title = "Archive";
}

@functions
{
    public IEnumerable<dynamic> GetGroupedPostsByMonth()
    {
        return Model
            .GroupBy(p => p.PublishedAt.ToString("MMMM yyyy"), (k, g) => new
        {
            Key = k,
            Posts = g.ToList()
        });
    }
}

<div id="archive">
    @foreach (var group in GetGroupedPostsByMonth())
    {
        <div class="row">
            <h3>@group.Key</h3>
            <ul>
                @foreach (var post in group.Posts)
                {
                    <li><a href="/@post.Slug">@post.Title</a></li>
                }
            </ul>
        </div>
     }
</div>