@using Bloggy.Models

@model IEnumerable<Post>

@{
    ViewBag.Title = "Home";
}

<section>
    @foreach (var post in Model)
    {
        <article class="row">
            <h2><a href="/@post.Slug">@post.Title</a></h2>
            <time>@post.PublishedAt.ToString("MMMM dd, yyyy")</time>
            <p>@post.Excerpt</p>
        </article>
    }
</section>